<div>
  <mat-card class="login-register-form">
    <form class="form-column" #loginFormValidator="ngForm" (ngSubmit)="onSubmit()" >
      <mat-form-field>
          <input matInput (keyup)="onKey($event)" placeholder="Email" name="email" [(ngModel)]="loginFormInfo.email" email #prmEmail="ngModel" required>
            <mat-error *ngIf="prmEmail.errors  && !isValidFormSubmitted && prmEmail.errors.required">
              You must enter a email.
            </mat-error>
            <mat-error *ngIf="prmEmail.errors && !isValidFormSubmitted && prmEmail.errors.email && !prmEmail.errors.required" required>
                Email is not valid
            </mat-error>
        </mat-form-field>
      <br>
      <mat-form-field >
          <input matInput (keyup)="onKey($event)" placeholder="Password" type="password" name="password" [(ngModel)]="loginFormInfo.password" password #formPassword="ngModel" required>
          <mat-error *ngIf="formPassword.errors && loginFormValidator.submitted && !isValidFormSubmitted && formPassword.errors.required">
              You must enter a password.
          </mat-error>
      </mat-form-field>
      <br>
      <button *ngIf="prmEmail.errors || formPassword.errors"  mat-raised-button color="primary" disabled>Log In</button>
      <button *ngIf="!prmEmail.errors && !formPassword.errors" mat-raised-button color="primary">Log In</button>    
      <br>
      <mat-error *ngIf="unauthorized">
          User and password are not correct.
      </mat-error>  
      <mat-error *ngIf="notTeacher">
          Error: You're not a teacher.
      </mat-error>  
    </form>
  </mat-card>
</div>
