<div class="content full-screen-card" *ngIf="localVideo">
    <mat-card class="example-card">
          <mat-card-title>{{localVideo.videoName}}</mat-card-title>
            <div class="video" *ngIf="!isMp4">
                <video mat-card-image controls>
                    <source [src]="localVideo.urlApiLocalVideo" type='video/webm'>
                        Your browser does not support the video tag.
                </video>
            </div>
            <div class="video" *ngIf="isMp4">
                <video mat-card-image controls>
                    <source [src]="localVideo.urlApiLocalVideo" type='video/mp4'>
                        Your browser does not support the video tag.
                </video>
            </div>
        <mat-card-content *ngIf="videoCuts" class="cut-text-area">
            <form [formGroup]="form" (ngSubmit)="openDialog()">
                <formly-form [model]="videoCuts" [fields]="fields" [options]="options" [form]="form">
                    <button id="cut-video-button" mat-raised-button color="primary" [disabled]="!form.valid">Cut Video</button>
                </formly-form>
            </form>
        </mat-card-content>
      </mat-card>
</div>
