<div class="content full-screen-card" *ngIf="localVideo">
    <mat-card class="example-card">
          <mat-card-title>{{localVideo.videoName}}</mat-card-title>
            <div class="video" *ngIf="!isMp4">
                <video mat-card-image controls>
                    <source [src]="localVideo.urlApiLocalVideo" type='video/webm'>
                        Your browser does not support the video tag.
                </video>
            </div>
            <div class="video" *ngIf="isMp4">
                <video mat-card-image controls>
                    <source [src]="localVideo.urlApiLocalVideo" type='video/mp4'>
                        Your browser does not support the video tag.
                </video>
            </div>
        <mat-card-content *ngIf="videoCuts" class="cut-text-area">
            <mat-form-field>
                <textarea (keyup)="onCutModified($event)" [attr.rows]="numLinesString(videoCuts)" matInput placeholder="Cuts" [(ngModel)]="videoCuts"></textarea>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="modifiedCuts" (click)="saveCuts()" mat-button>Save Cuts</button>
          <button *ngIf="!modifiedCuts" (click)="openDialog()" mat-button>Cut Video</button>
        </mat-card-actions>
      </mat-card>
</div>
