<div class="content">
  <h1 class="title mat-display-1">Welcome to Class Recorder</h1>
  <div class="align-middle"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">
    <div class="centered-text" fxFlex="45%">
        <mat-icon class="welcome-icon" aria-hidden="true">camera</mat-icon>
    </div>
    <div class="centered-text" fxFlex>
        <app-login></app-login>
    </div>
  </div>
  <div class="right-text">
      <button [routerLink]="['/register']" mat-raised-button color="primary" id="register-button">I'm not registered</button>
  </div>
</div>