<div class="content full-screen-card centered-text">
  <mat-card >
        <div>
          <mat-progress-spinner [hidden]="cuttedVideo && mergedVideo"style="margin:0 auto;"
            class="example-margin"
            color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
        <br>
        <div [hidden]="cuttedVideo">
          <span class="mat-title">Cutting...</span>
        </div>
        <div [hidden]="!cuttedVideo">
          <span class="mat-title">Cutted<mat-icon class="done-icon">done</mat-icon></span>
        </div>
        <div [hidden]="mergedVideo">
          <span class="mat-title">Merging...</span>
        </div>
        <div [hidden]="!mergedVideo">
          <span class="mat-title">Merged<mat-icon class="done-icon">done</mat-icon></span>
        </div>
        <app-console-component [output]="output" ></app-console-component>
        </div>
    </mat-card>
</div>