<div class="content full-screen-card centered-text">
  <mat-card >
        <mat-card-title>Guardando</mat-card-title>
        <div>
          <mat-progress-spinner style="margin:0 auto;"
            class="example-margin"
            color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
        <br>
        <div [hidden]="cuttedVideo">
          <span class="mat-title">Cutting Video...</span>
        </div>
        <div [hidden]="!cuttedVideo">
          <span class="mat-title">Cutted<mat-icon class="done-icon">done</mat-icon></span>
        </div>
        <div [hidden]="mergedVideo">
          <span class="mat-title">Merging...</span>
        </div>
        <div [hidden]="!mergedVideo">
          <span class="mat-title">Merged<mat-icon class="done-icon">done</mat-icon></span>
        </div>
        <app-console-component></app-console-component>
        </div>
    </mat-card>
</div>