<div padding>
    <ion-card class="white-card">      
        <ion-card-content>
            <ion-grid>
                    <ion-row class="center-content" *ngIf="state === 'Stopped'" justify-content-end>
                        <ion-col class="button-centered" col-12 align-self-center>
                                <button (click)="startRecord()" color="red" ion-fab>Record</button>
                        </ion-col>
                    </ion-row>
                    <ion-row class="center-content" *ngIf="state === 'Paused' || state === 'Recording'"  justify-content-end>
                        <button class="circle-button" *ngIf="state === 'Paused'" (click)="continueRecord()" color="light" ion-fab>Continue</button>
                        <button class="circle-button" *ngIf="state === 'Recording'" (click)="pauseRecord()" ion-fab>Pause</button>
                        <button class="circle-button" *ngIf="state === 'Recording' || state === 'Paused'" color="red" (click)="stopRecord()" ion-fab>Stop</button>
                    </ion-row>
                    <ion-row class="center-content" justify-content-end>
                        <record-time-component #yourChild></record-time-component>
                    </ion-row>
                </ion-grid>
        </ion-card-content>      
    </ion-card> 
    <slides-component></slides-component>
</div>