.card-style{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.card-zoom {
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */    
    }

.card-zoom:hover {
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);  
    -o-transform:scale(1.10);
    transform:scale(1.10);
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}