.card-localVideo {
    margin: 20px;
}

@media screen and (max-width: 1280px){
    .center-videos {
        margin-left: 0;
    }
}


@media screen and (min-width: 1280px) {
    .center-videos {
       margin-left: 12%;
    }
}