.image-video {
    padding-left: 13px;
    padding-right: 13px;
}

.video-title {
    font-size: 16px;
}

.video {
    padding: 10px;
}

.button-video-list {
    margin-left: 10px;
    margin-right: 10px;
}