<div class="container">
    <div class="row">
        <div *ngFor="let localVideo of localVideos" class="video col s12 m6 l4">
            <mat-card>
                    <mat-card-title class="video-title">{{localVideo.videoName.length > 20 ? (localVideo.videoName | slice:0:30)+'...':(localVideo.videoName)}}</mat-card-title>
                    <img mat-card-image [src]="localVideo.urlApiLocalThumb" class="image-video">
                    <mat-card-actions>
                        <button class="button-video-list" mat-flat-button [routerLink]="['/videofile/',localVideo.videoName]">Edit</button>
                        <button mat-flat-button [routerLink]="['/uploadvideo/', courseId, localVideo.videoName]">Upload</button>
                    </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<div>
    <button *ngIf="isStopped()" [routerLink]="['/record-video/']" class="material-button" mat-fab color="primary" id="record-button"><mat-icon class="material-button-icon">videocam</mat-icon></button>
</div>

<div class="search-results"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">
</div>


